<!--
 * Copyright (c) Augurk. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0.
-->

@using Augurk.Entities.Search
@namespace Augurk.UI.Components
@inject SearchService SearchService

@if (Feature != null)
{
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h6>
                <span class="oi oi-document color-augurk-main"></span>
                @Feature.FeatureName
            </h6>
            @foreach (var tag in Feature.Tags ?? Enumerable.Empty<string>())
            {
                <span class="badge badge-secondary m-1">@tag</span>
            }
            <p class="card-text">
                @(string.IsNullOrWhiteSpace(Feature.MatchingText) ? Feature.ShortenedDescription : Feature.MatchingText)
            </p>
            <a href="feature/@Feature.ProductName/@Feature.GroupName/@Feature.FeatureName/@Feature.Version/" class="btn btn-primary pull-right">Show feature</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public FeatureMatch Feature { get; set; }
}
