<!--
 Copyright 2020, Augurk

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
@using Augurk.Entities.Search
@namespace Augurk.UI.Components
@inject SearchService SearchService

@if (Feature != null)
{
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                @Feature.FeatureName
            </h5>
            @foreach (var tag in Feature.Tags ?? Enumerable.Empty<string>())
            {
                <span class="badge badge-secondary m-1">@tag</span>
            }
            <p class="card-text">
                @(string.IsNullOrWhiteSpace(Feature.MatchingText) ? Feature.ShortenedDescription : Feature.MatchingText)
            </p>
            <a href="feature/@Feature.ProductName/@Feature.GroupName/@Feature.FeatureName/@Feature.Version" class="btn btn-primary pull-right">Show feature</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public FeatureMatch Feature { get; set; }
}