@using System.Threading
@using Augurk.Entities.Search
@inject SearchService SearchService

<div style="
    box-shadow: 2px 2px 3px black;
    padding: 2px;
    min-width: 120px;
    max-width: 300px;
    display: inline-block;
    text-align: left;
    height: 110px;
">
    <a href="/#/feature/@Feature?.ProductName/@Feature?.GroupName/@Feature?.FeatureName/@Feature?.Version">
        <span style="
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        white-space: nowrap;
        ">@Feature?.FeatureName</span>
    </a>
    <span style="
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    ">@Feature?.MatchingText</span>
</div>

@code {
    [Parameter]
    public FeatureMatch Feature { get;set; }
}