<!--
 * Copyright (c) Augurk. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0.
-->

<span class="keyword">@Keyword</span>

@code {
    [Parameter]
    public string Keyword { get; set; }
}
