<!--
 * Copyright (c) Augurk. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0.
-->

@using Augurk.Entities.Search
@namespace Augurk.UI.Components

@if (Product != null)
{
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                @Product.DisplayName
            </h5>
            <p class="card-text">
                @(Product.ShortDescription)
            </p>
            <a href="product/@Product.Name" class="btn btn-primary pull-right">Go to product page</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public Product Product { get; set; }
}
