<!--
 * Copyright (c) Augurk. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0.
-->

@using Augurk.Entities.Search
@namespace Augurk.UI.Components

@if (Product != null)
{
    <div class="card m-2" style="width: 18rem;">
        <a href="product/@Product.Name/">
        <div class="card-body">
            <h6 class="card-title">
                <span class="oi oi-box color-augurk-main"></span>
                @Product.DisplayName
            </h6>
            <p class="card-text">
                @Product.ShortDescription
            </p>

        </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public Product Product { get; set; }
}
