<!--
 * Copyright (c) Augurk. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0.
-->

@namespace Augurk.UI.Components
@inject SearchService searchService

<form class="form col-md-6 offset-md-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" @bind-value="SearchTerm" @bind-value:event="oninput">
    <!-- Add a disabled button, to prevent the browser from submitting this form -->
    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
</form>

@code {
    private string _searchTerm;
    private string SearchTerm
    {
        get { return _searchTerm; }
        set
        {
            _searchTerm = value;
            // Don't await the result
            var task = WaitAndSearch();
        }
    }

    private async Task WaitAndSearch()
    {
        var searchInput = _searchTerm;

        // Wait for half a second to determine whether the user is still typing
        await Task.Delay(500);

        // Don't do anything if the input has changed
        if(searchInput != _searchTerm)
        {
            return;
        }

        var task = searchService.Search(searchInput);
    }
}
