<!--
 * Copyright (c) Augurk. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0.
-->
@page "/configure"

<h1>Customization &amp; Configuration</h1>

<Customization />

<Configuration />

<ImportExport />

<Card class="mt-2">
    <CardHeader>Integration</CardHeader>
    <CardBody>
        <i>Augurk exposes several APIs to enable integration in your own tools:</i> <a href="/doc/ui/index.html?urls.primaryName=V2">Go to documentation.</a><br/>
        <br/>
        Of course, the easiest way to interact with the Augurk APIs is through the commandline tool which is available on
        <a href="https://www.nuget.org/packages/Augurk.CLI/">NuGet</a>.<br/>
        <br/>
        Users of <b>Azure DevOps (Server)</b> can also use the <a href="https://marketplace.visualstudio.com/items?itemName=augurk.augurk">Augurk extension</a>.
    </CardBody>
</Card>
