@page "/"
@inject SearchService SearchService
@using Augurk.Entities.Search
@using Augurk.UI.Components

<div class="container-fluid">
    <div class="row">
        <Searchbox />
    </div>
    <div class="row">
        @foreach(var feature in _latestResults?.FeatureMatches ?? Enumerable.Empty<FeatureMatch>()) {
            <FeatureResult Feature="feature" />
        }
    </div>
</div>

@code {
    private SearchResults _latestResults;

    protected override void OnInitialized() {
        SearchService.OnSearchResultsChanged += OnSearchResultsChanged;
    }

    private async Task OnSearchResultsChanged(SearchResults newResults) {
        await InvokeAsync(() =>
        {
            _latestResults = newResults;
            StateHasChanged();
        });
    }
}