@page "/"
@inject SearchService SearchService
@using Augurk.Entities.Search
@using Augurk.UI.Components

<h1>Augurk 3.1.0 PREVIEW</h1>

<div style="text-align: center;">
   <Searchbox />
</div>

<div style="text-align: center;">
    @foreach(var feature in _latestResults?.FeatureMatches ?? Enumerable.Empty<FeatureMatch>()) {
        <FeatureResult Feature="feature" />
    }
</div>

@code {
    private SearchResults _latestResults;

    protected override void OnInitialized() {
        SearchService.OnSearchResultsChanged += OnSearchResultsChanged;
    }

    private async Task OnSearchResultsChanged(SearchResults newResults) {
        await InvokeAsync(() =>
        {
            _latestResults = newResults;
            StateHasChanged();
        });
    }
}